// Define variables for your color scheme


// For example:

$light-green: #e4eddb;
$green-blue: #307672;
$dark-green-blue: #144d53;
$superdark-green-blue: #1a3c40;
$semi-yellow: #f5f5c6;
$swamp-green: #7da87b;
$dark-purple: #27253d;
